<%split_array = request.url.split("/") %>

<h4><div class="pull-right" style="margin-bottom: 15px;">
  <% if split_array.include?("manage_admin_group") %>

      <%= link_to "Slave AG Mgmt" ,manage_admin_group_local_admins_path,:style=>"text-decoration: underline;" %> |
  <%else%>
      <%= link_to "Slave AG Mgmt" ,manage_admin_group_local_admins_path %> |
  <%end%>

  <% if split_array.include?("change_ownership") %>

      <%= link_to "Main AG Mgmt" , main_admin_group_local_admins_path,:style=>"text-decoration: underline;" %> |
  <%else%>
      <%= link_to "Main AG Mgmt" , main_admin_group_local_admins_path %> |
  <%end%>

  <% if split_array.include?("add_new_slave_admin_group") %>
      <%= link_to "Add New Slave Admin Group" ,new_admin_group_local_admins_path ,:style=>"text-decoration: underline;" %>
  <%else%>
      <%= link_to "Add New Slave Admin Group" , new_admin_group_local_admins_path  %>
  <%end%>
</h4>