<%split_array = request.url.split("/") %>

<h4><div class="pull-right">
  <% if split_array.include?("manage_admin_group") %>

      <%= link_to "Slave AG Mgmt" ,manage_admin_group_local_admins_path,:style=>"text-decoration: underline;" %> |
  <%else%>
      <%= link_to "Slave AG Mgmt" ,manage_admin_group_local_admins_path %> |
  <%end%>
  <% if split_array.include?("change_ownership") %>

      <%= link_to "Main AG Mgmt" ,change_ownership_main_admin_group_owners_path,:style=>"text-decoration: underline;" %> |
  <%else%>
      <%= link_to "Main AG Mgmt" ,change_ownership_main_admin_group_owners_path %> |
  <%end%>

  <% if split_array.include?("add_new_slave_admin_group") %>
      <%= link_to "Add New Slave Admin Group" , add_new_slave_admin_group_local_admins_path ,:style=>"text-decoration: underline;" %>
  <%else%>
      <%= link_to "Add New Slave Admin Group" , add_new_slave_admin_group_local_admins_path  %>
  <%end%>
</h4>
<!--<h2>Add New Slave Admin Group</h2>-->
<!--<%#= form_for @admin_group,:url=>admin_group_creation_local_admins_path, :html => { :class => "form-horizontal",:multipart => true  } do |f|%>-->

<!--<div class="control-group">-->
<!--<label class="control-label" for="input01">Admin Group Name <span style="color:red"> *</span></label>-->
<!--<div class="controls">-->
<!--<%#=f.text_field :name,:class=>"input"%>-->
<!--&lt;!&ndash;<input type="text" class="input-xlarge" id="input01">&ndash;&gt;-->
<!--<p class="help-block"></p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="control-group">-->
<!--<label class="control-label" for="input01">Admin Group Description </label>-->
<!--<div class="controls">-->
<!--<%#=f.text_area :description,:class=>"input",:rows => 5%>-->
<!--&lt;!&ndash;<input type="text" class="input-xlarge" id="input01">&ndash;&gt;-->
<!--<p class="help-block"></p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="control-group">-->
<!--<label class="control-label" for="input01">Admin Group Owner Email <span style="color:red"> *</span></label>-->
<!--<div class="controls">-->
<!--<%#=text_field_tag :email,"",:class=>"input"%>-->
<!--&lt;!&ndash;<input type="text" class="input-xlarge" id="input01">&ndash;&gt;-->
<!--<p class="help-block"></p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-actions">-->
<!--<%#= f.submit :class =>"btn btn-primary"  %>-->
<!--&lt;!&ndash;<input type="text" class="input-xlarge"  id="input01">&ndash;&gt;-->
<!--</div>-->
<!--<#% end %>-->
<!--<%#= content_for :head do  %>-->
<!--<script type="text/javascript">-->

<!--<#% end %>-->


<h2>Add New Slave Admin Group</h2>

<table>
  <%= form_for @admin_group,:url=>admin_group_creation_local_admins_path, :html => { :class => "form-horizontal",:multipart => true  } do |f|%>
      <tr>
        <td><label class="control-label" for="input01">Owner ID: <span style="color:red"> *</span></label></td>
        <td><%= f.text_field :admin_group_owner_id ,:value=>@local_admin.id ,:disabled=>true%></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Main Worker Id: <span style="color:red"> *</span></label></td>
        <td><%= f.text_field :main_worker_id %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">AG Creation Date: <span style="color:red"> *</span></label></td>
        <td><%= f.text_field :ag_creation_date,:disabled=>true %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">AG Expiration Date:</label></td>
        <td><%= f.text_field :ag_expiration_date,:disabled=>true %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">AG Deactivation Date:</label></td>
        <td><%= f.text_field :ag_deactivation_date,:disabled=>true %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Admin Group Name:</label></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Admin Group Description:</label></td>
        <td><%= f.text_area :description,:rows=>5 %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Admin Group Email:</label></td>
        <td><%= f.text_field :admin_group_email %></td>
      </tr>

      <% a= ["new","active","Expiring","Blocked","Suspend","Unpaid"] %>
      <tr>
        <td><label class="control-label" for="input01">Status: <span style="color:red"> *</span></label></td>
        <td><%= f.select :status , options_for_select(a) %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">AG Country:</label></td>
        <td><%= text_field_tag :ag_country ,@local_admin.la_country%></td>
      </tr>

      <tr>
        <td><label class="control-label" for="input01">Language:</label></td>
        <td><%= f.text_field :language ,:value=>@local_admin.language%></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">First Name:</label></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Last Name:</label></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Company Name:</label></td>
        <td><%= f.text_field :company_name,:value=>@local_admin.company_name %></td>
      </tr>
      <% profile = @local_admin.user.profile || Profile.new   %>
      <tr>
        <td><label class="control-label" for="input01">Country:</label></td>
        <td><%= f.text_field :country ,:value=>@local_admin.user.country %></td>
      </tr>

      <tr>
        <td><label class="control-label" for="input01">City:</label></td>
        <td><%= f.text_field :city ,:value=>profile.city%></td>
      </tr>

      <tr>
        <td><label class="control-label" for="input01">Zip Code:</label></td>
        <td><%= f.text_field :zip_code,:value=>profile.zip_code %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">State:</label></td>
        <td><%= f.text_field :state,:value=>profile.state %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Address:</label></td>
        <td><%= f.text_field :address,:value=>@local_admin.address %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Additional Address:</label></td>
        <td><%= f.text_field :additional_address %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Phone Number:</label></td>
        <td><%= f.text_field :phone_number %></td>
      </tr>


      <!--<tr>-->
      <!--<td>Master</td>-->
      <!--<td> <%#=f.radio_button :is_master, true %> Is Master     </td>-->
      <!--<td> <%#=f.radio_button :is_master, false %> Not Is Master   </td>-->
      <!--</tr>-->
      <tr>
        <td><label class="control-label" for="input01">Billing Profile Id:</label></td>
        <td><%= f.text_field :billing_profile_id,:value=>@local_admin.billing_profile_id %></td>
      </tr>
      <tr>
        <td>Self Management: <span style="color:red"> *</span></td>
        <td> <%=f.radio_button :self_management, true, :checked=>false  %> Yes
        <%=f.radio_button :self_management, false, :checked=>true  %> No   </td>
      </tr>
      <td>Area Flag: <span style="color:red"> *</span></td>
      <td> <%=f.radio_button :arena_flag, true, :checked=>false %> Yes
      <%=f.radio_button :arena_flag, false, :checked=>true  %> No   </td>
      </tr>

      <td>BG Contest Allowed: <span style="color:red"> *</span></td>
      <td> <%=f.radio_button :bg_contest_allowed, true, :checked=>false %> Yes
      <%=f.radio_button :bg_contest_allowed, false , :checked=>true %> No   </td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">AG Commissions:</label></td>
        <td><%= f.text_field :ag_commissions %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Consultant Commissions:</label></td>
        <td><%= f.text_field :consultant_commissions %></td>
      </tr>

      <tr><td>BG Free Standard Commissions Allowed: <span style="color:red"> *</span></td>
        <td> <%=f.radio_button :bg_free_standard_commissions_allowed, true , :checked=>false%> Yes
         <%=f.radio_button :bg_free_standard_commissions_allowed, false , :checked=>true %> No   </td>
      </tr>
      <tr>
        <td>BG Free Pro Commissions Allowed: <span style="color:red"> *</span></td>
        <td> <%=f.radio_button :bg_free_pro_commissions_allowed, true, :checked=>false %> Yes
         <%=f.radio_button :bg_free_pro_commissions_allowed, false, :checked=>true  %> No   </td>
      </tr>
      <tr>
        <td> BG Free Standard Commissions Allowed: <span style="color:red"> *</span></td>
        <td> <%=f.radio_button :bg_free_private_commissions_allowed, true , :checked=>false%> Yes
         <%=f.radio_button :bg_free_private_commissions_allowed, false, :checked=>true  %> No   </td>
      </tr>
      <tr>
        <td>BG Custom Commissions Allowed: <span style="color:red"> *</span></td>
        <td> <%=f.radio_button :bg_custom_commissions_allowed, true, :checked=>false %> Yes
       <%=f.radio_button :bg_custom_commissions_allowed, false, :checked=>true  %> No   </td>
      </tr>
      <tr>
        <td>BG Gateway Commission Payer Setting Allowed: <span style="color:red"> *</span></td>
        <td> <%=f.radio_button :bg_gateway_commission_payer_setting_allowed, true, :checked=>false %> Yes
         <%=f.radio_button :bg_gateway_commission_payer_setting_allowed, false, :checked=>true %> No   </td>
      </tr>


      <tr>
        <td><label class="control-label" for="input01">Platform Billing Profile Id:</label></td>
        <td><%= f.text_field :platform_billing_profile_id %></td>
      </tr>

      <tr>
        <td><label class="control-label" for="input01">Paas Product Id:</label></td>
        <td><%= f.text_field :paas_product_id %></td>
      </tr>
      <tr>
        <td><label class="control-label" for="input01">Paas Exemption Expiration Date:</label> </td>
        <td><%= f.text_field :paas_exemption_expiration_date %></td>
      </tr>

      <% paas_fees_exemption_array= ["Temporary","Permanent"] %>

      <tr>
        <td><label class="control-label" for="input01">Paas Fees Exemption:</label></td>
        <td><%= f.select :paas_fees_exemption , options_for_select(paas_fees_exemption_array) %></td>
      </tr>

      <tr>
        <td><%= f.submit"Create Slave Admin Group" ,:class => "btn-small btn" %></td>
      </tr>
      </table>

  <% end %>
  <%= content_for :head do  %>
      <script type="text/javascript">

          jQuery(function(){
              var admin_group_admin_group_owner_id = new LiveValidation('admin_group_admin_group_owner_id',{validMessage:" ",onlyOnSubmit:true});
              admin_group_admin_group_owner_id.add( Validate.Presence );
              var admin_group_main_worker_id = new LiveValidation('admin_group_main_worker_id',{validMessage:" ",onlyOnSubmit:true});
              admin_group_main_worker_id.add( Validate.Presence );
              var admin_group_ag_creation_date = new LiveValidation('admin_group_ag_creation_date',{validMessage:" ",onlyOnSubmit:true});
              admin_group_ag_creation_date.add( Validate.Presence );
              var admin_group_admin_group_email = new LiveValidation('admin_group_admin_group_email',{validMessage:" ",onlyOnSubmit:true});
              admin_group_admin_group_email.add( Validate.Presence );
              admin_group_admin_group_email.add( Validate.Email );
          });
      </script>
  <% end %>