<h4><div style="float:right;height:30px;"> <%= link_to "Add New Slave Admin Group" , add_new_slave_admin_group_local_admins_path  %></div></h4>
<table border="1" class="table">
  <thead>
  <tr>
    <!--<th><strong> Email <strong></th>-->
    <!--<th><strong> Ip Address <strong></th>-->
    <!--<th><strong> Title <strong></th>-->
    <!--<th><strong> First Name <strong></th>-->
    <!--<th><strong> Last Name <strong></th>-->
    <!--<th><strong> Country <strong></th>-->
    <!--&lt;!&ndash;<th><strong> User Role<strong></th>&ndash;&gt;-->
    <!--<th><strong> Action<strong></th>-->
    <th><strong> Sr. No <strong></th>
    <th><strong> Name of the Admin Group <strong></th>
    <th><strong> Name of AG Owner <strong></th>
    <th><strong> Email <strong></th>
    <th><strong> Country <strong></th>
    <th><strong> Action <strong></th>
    <th><strong> Status <strong></th>
  </tr>
  </thead>
  <!--<#% @AGOS.each do |ago| %>-->
      <!--<%#profile= ago.profile.nil? ? Profile.new : ago.profile%>-->
      <!--<tr>-->
        <!--<td><%#= ago.email %></td>-->
        <!--<td><%#= ago.last_sign_in_ip %></td>-->
        <!--<td><%#= profile.title %></td>-->
        <!--<td><%#= profile.first_name %></td>-->
        <!--<td><%#= profile.last_name %></td>-->
        <!--<td><%#= fetch_county_name(ago) %></td>-->
        <!--&lt;!&ndash;<td> <%#= ago.role %>     </td>&ndash;&gt;-->
      <!--  <td> <#% if @already_having_mago.blank? %>
                <!--<%#= link_to "Change to MAGO",show_AGO_for_change_role_path(ago.id) %>-->
             <!--<%# else %>-->
                <!--<%#= link_to "Change to MAGO","", confirm: 'This country is already having MAGO', method: :get %>-->
             <!--<%#end%>-->
       <!--</td>-->

      <!--</tr>-->

  <!--<#% end %>-->
  <% @admin_groups.each_with_index do |admin_group,i| %>
    <tr>  <td><%= i+1 %></td>
      <td><%= admin_group.name %></td>
      <td><%= admin_group.user.profile.to_s unless admin_group.user.blank? %></td>
      <td><%= admin_group.user.email unless admin_group.user.blank?%></td>
      <td><%= admin_group.user.country unless admin_group.user.blank? %></td>
      <td> <%= link_to 'View', show_admin_group_admin_group_owner_path(admin_group) %> |
        <%= link_to 'Edit',edit_admin_group_admin_group_owner_path(admin_group) %>  |
        <%= link_to 'Delete Group',delete_admin_group_admin_group_owner_path(admin_group), confirm: 'Are you sure? you want to delete group', method: :get %>  |
        <% change_status_to = admin_group.is_active? ? "Deactivate": "Activate" %>
        <%= link_to change_status_to,change_admin_group_status_admin_group_owner_path(admin_group),confirm: 'Are you sure? you want to change status', method: :get %>

      </td>

      <td><%= admin_group.is_active? ? "Active": "Deactive" %></td>
      </tr>
<%end %>
  </table>