<div class="form-horizontal"> <% user = @admin %>
  <%profile= user.profile.nil? ? Profile.new : user.profile%>
  <strong> Email: </strong>  <%= user.email %>      <br>
  <!--<strong> Ip Address: </strong>    <%#= user.last_sign_in_ip %>                <br>-->

  <!--<strong> Title: </strong>   <%#= profile.title %>          <br>-->
  <strong> First Name: </strong>  <%= profile.first_name %>    <br>
  <strong> Last Name: </strong>   <%= profile.last_name %> <br>
  <strong> Country Name: </strong>   <%= user.country %> <br>
  <strong> Company Name: </strong>   <%= profile.company_name %> <br>
  <strong> City: </strong>  <%= profile.city %> <br>
  <strong> State: </strong>  <%= profile.state %>   <br>
  <strong> ZipCode: </strong>  <%= profile.zip_code %>   <br>
  <!--<strong> Street: </strong>  <%#= profile.street %>   <br>-->
  <strong> Address: </strong>  <%= profile.address %>   <br>
  <strong> Additional Address Info: </strong>  <%= profile.additional_address_info %>  <br>
  <strong> Telephone Number: </strong>  <%= profile.telephone_number %>  <br>
  <!--<strong> NikName: </strong>  <%#= user.profile.nil? ? "": nikname(user.profile) %>    <br>-->
  <strong> Assigned To Country Detail: </strong>  <%= user.la_country %>  <br>
  <strong> Language: </strong>    <%= user.la_language %>                <br>
  <strong> Web Domain: </strong>    <%= user.la_web_domain %>                <br>
  <strong> Platform Home: </strong>    <%= user.la_platform_home %>                <br>
  <strong> Billing Profile: </strong>    <%= profile.billing_profile_id %>  <br>
  <strong> Platform Billing Profile: </strong>    <%= profile.platform_billing_profile_id %>  <br>
  <strong> Mail Chimp Integration Key: </strong>    <%= profile.mail_chimp_integration_key %>  <br>
  <strong> Freshbooks Integration Key: </strong>    <%= profile.freshbooks_integration_key %>  <br>
  <!--<strong> Birth Date: </strong>     <%#= profile.birth_date %> <br>-->
  <!--<strong> Gender: </strong>   <%#=  profile.gender %>  <br>-->
  <!--<strong> Photo: </strong>   <%#= image_tag user.profile.image_url unless user.profile.nil?%>   <br>-->
  <!--<strong> Biography: </strong>     <%#= profile.biography %>  <br>-->
  <!--<strong> web: </strong>    <%#= profile.web %>  <br>-->
  <!--<strong> Blog: </strong>  <%#= profile.blog %>  <br>-->
  <!--<strong> Social Fb: </strong>  <%#= profile.social_fb %> <br>-->
  <!--<strong> Social Twitter: </strong>  <%#= profile.social_twitter %> <br>-->
  <!--<strong> Social Linkedin: </strong>  <%#= profile.social_linkedin %>  <br>-->
  <!--<strong> Social Myspace: </strong>  <%#= profile.social_myspace %>    <br>-->
  <!--&lt;!&ndash;<strong> Country: </strong>  <%#= user.country %>  <br>&ndash;&gt;-->

  <!--<strong> Street Number: </strong>  <%#= profile.street_number %> <br>-->

  <!--<strong> Mobile Number </strong>  <%#= profile.mobile_number %>  <br>-->

</div>
<%= link_to 'Back', :back %>