<%user=@admin%>
<%profile = user.profile.nil? ? Profile.new : user.profile%>
<%la_setting= user.la_setting.nil? ? LaSetting.new : user.la_setting%>
<h1>Local Admin Information</h1>
<table border="1">
  <tr>
    <th width="200"><strong> Email: </strong></th>
    <td width="500"><%= user.email %></td>
  </tr>
  <tr>
    <td width="100"><strong> Is Master: </strong></td>
    <td width="300"><%= la_setting.is_master %></td>
  </tr>
  <tr>
    <td width="100"><strong>LA Country: </strong></td>
    <td width="300"><%= la_setting.la_country %></td>
  </tr>
  <tr>
    <td width="100"><strong>LA Language: </strong></td>
    <td width="300"><%= la_setting.language %></td>
  </tr>
  <tr>
    <td width="100"><strong>Platform Home: </strong></td>
    <td width="300"><%= la_setting.platform_home %></td>
  </tr>
  <tr>
    <td width="100"><strong>User Terms: </strong></td>
    <td><%= la_setting.user_terms %></td>
  </tr>
  <tr>
    <td width="100"><strong>Project Terms: </strong></td>
    <td><%= la_setting.project_terms%></td>
  </tr>
  <tr>
    <td width="100"><strong>Worker Terms:: </strong></td>
    <td><%= la_setting.worker_terms %></td>
  </tr>
  <tr>
    <td width="100"><strong>Worker Consultant Terms: </strong></td>
    <td><%= la_setting.worker_consultant_terms %></td>
  </tr>
  <tr>
    <td width="100"><strong>Admin Group Terms: </strong></td>
    <td><%= la_setting.admin_group_terms %></td>
  </tr>
  <tr>
    <td width="100"><strong>Business Group Terms: </strong></td>
    <td><%= la_setting.business_group_terms %></td>
  </tr>
  <tr>
    <td width="100"><strong>Created At: </strong></td>
    <td><%= time_ago_in_words(la_setting.creation_date)+ " Ago"  rescue nil  %></td>
  </tr>

  <tr>
    <td width="100"><strong>Deactivation Date: </strong></td>
    <td><%=  time_ago_in_words(la_setting.deactivation_date) rescue nil %></td>
  </tr>

  <tr>
    <td width="100"><strong>Local Admin Name: </strong></td>
    <td><%=  la_setting.local_admin_name %></td>
  </tr>

  <tr>
    <td width="100"><strong>Status: </strong></td>
    <td><%=  la_setting.status %></td>
  </tr>

  <tr>
    <td width="100"><strong>First Name: </strong></td>
    <td><%=  profile.first_name %></td>
  </tr>
  <tr>
    <td width="100"><strong>Last Name: </strong></td>
    <td><%=  profile.last_name %></td>
  </tr>
  <tr>
    <td width="100"><strong>Company: </strong></td>
    <td><%=  la_setting.company_name %></td>
  </tr>
  <tr>
    <td width="100"><strong>Country: </strong></td>
    <td><%= user.country %></td>
  </tr>
  <tr>
    <td width="100"><strong>City: </strong></td>
    <td><%= profile.city %></td>
  </tr>
  <tr>
    <td width="100"><strong>Zip: </strong></td>
    <td><%= profile.zip_code%></td>
  </tr>
  <tr>
    <td width="100"><strong>State: </strong></td>
    <td><%= profile.state %></td>
  </tr>
  <tr>
    <td width="100"><strong>Address:: </strong></td>
    <td><%= la_setting.address %></td>
  </tr>
  <tr>
    <td width="100"><strong>Additional Address: </strong></td>
    <td><%= profile.additional_address_info %></td>
  </tr>
  <tr>
    <td width="100"><strong>Phone Number: </strong></td>
    <td><%=profile.telephone_number %></td>
  </tr>

  <tr>
    <td width="100"><strong>Facebook Page: </strong></td>
    <td><%= la_setting.la_facebook%></td>
  </tr>

  <tr>
    <td width="100"><strong>Twitter Handle: </strong></td>
    <td><%=la_setting.la_twitter%></td>
  </tr>

  <tr>
    <td width="100"><strong>LA LinkedIn URL: </strong></td>
    <td><%= la_setting.la_linked_in%></td>
  </tr>

  <tr>
    <td width="100"><strong>Contact First Name: </strong></td>
    <td><%= la_setting.contact_first_name%></td>
  </tr>

  <tr>
    <td width="100"><strong>Contact Last Name: </strong></td>
    <td><%= la_setting.contact_last_name%></td>
  </tr>

  <tr>
    <td width="100"><strong>Contact Email: </strong></td>
    <td><%= la_setting.contact_email%></td>
  </tr>

  <tr>
    <td width="100"><strong>Billing Profile ID: </strong></td>
    <td><%= la_setting.billing_profile_id %></td>
  </tr>

  <tr>
    <td width="100"><strong> Platform Billing Profile ID: </strong></td>
    <td><%=la_setting.platform_billing_profile_id %></td>
  </tr>


  <tr>
    <td><strong>PasS LA Commission: </strong></td>
    <td><%= la_setting.pass_la_commissions%></td>
  </tr>

  <tr>
    <td width="100"><strong>Master Billing Profile Deviation:</strong></td>
    <td> <%=la_setting.master_billing_profile_deviation%></td>
  </tr>

  <tr>
    <td width="100"><strong>Master Billing Administration Deviation:</strong></td>
    <td> <%=la_setting.master_administration_deviation %>  </td>
  </tr>

  <tr>
    <td width="100"><strong>MailChimp Integration Key:</strong></td>
    <td><%=la_setting.mail_chimp_integration_key %></td>
  </tr>

  <tr>
    <td width="100"><strong>FreshBooks Integration Key:</strong></td>
    <td><%= la_setting.freshbooks_integration_key %></td>
  </tr>

</table>

<%= link_to "back",all_admins_global_admins_path , :class => "btn btn-primary"%>