<%= form_for @admin_group,:url=>chenge_worker_role_path, :html => { :class => "form-horizontal",:multipart => true  } do |f|%>

    <div class="control-group">
      <label class="control-label" for="input01"> Name <span style="color:red"> *</span></label>
      <div class="controls">
        <%=f.text_field :name,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01"> Email <span style="color:red"> *</span></label>
      <div class="controls">
        <%=f.text_field :email,:value=>@selected_user.email,:disabled=>"disabled" ,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit :class =>"btn btn-primary"  %>
      <!--<input type="text" class="input-xlarge"  id="input01">-->
    </div>
<% end %>
<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){
            var admin_group_name = new LiveValidation('admin_group_name',{validMessage:" ",onlyOnSubmit:true});
            admin_group_name.add( Validate.Presence,{failureMessage:" Can't be empty"} );


        });
    </script>
<% end %>
