<h1>Edit Profile</h1>
<%=form_for @profile, :html => { :class => "form-horizontal", :multipart => true } do |f| %>

    <div class="control-group">
      <label class="control-label" for="input01">Profile Title</label>
      <div class="controls">
        <%=f.text_field :title,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">First Name</label>
      <div class="controls">
        <%= f.text_field :first_name,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Last Name</label>
      <div class="controls">
        <%= f.text_field :last_name,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Birth Date (YYYY-MM-DD)</label>
      <div class="controls">
        <%= f.datepicker 'birth_date'%>

        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Image</label>
      <div class="controls">
        <%=f.file_field :image,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Video</label>
      <div class="controls">
        <%=f.file_field :video,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
          <label class="control-label" for="input01">Blog</label>
          <div class="controls">
            <%=f.text_field :blog,:class=>"input"%>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>



        <div class="control-group">
          <label class="control-label" for="input01">web</label>
          <div class="controls">
            <%=f.text_field :web,:class=>"input"%>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">Facebook link</label>
          <div class="controls">
            <%=f.text_field :social_fb,:class=>"input"%>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Twitter</label>
          <div class="controls">
            <%=f.text_field :social_twitter,:class=>"input"%>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">Linkedin</label>
          <div class="controls">
            <%=f.text_field :social_linkedin,:class=>"input"%>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Myspace</label>
          <div class="controls">
            <%=f.text_field :social_myspace,:class=>"input"%>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">
      <label class="control-label" for="input01">Gender</label>
      <div class="controls">
        <%= f.select :gender ,options_for_select([['Male'],['Female']]) %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Street</label>
      <div class="controls">
        <%= f.text_field :street,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Street Number</label>
      <div class="controls">
        <%= f.text_field :street_number,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="input01">City</label>
      <div class="controls">
        <%= f.text_field :city,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Zip Code</label>
      <div class="controls">
        <%= f.text_field :zip_code,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">State</label>
      <div class="controls">
        <%= f.text_field :state,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Additional Address Info</label>
      <div class="controls">
        <%= f.text_field :additional_address_info,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Mobile Number</label>
      <div class="controls">
        <%= f.text_field :mobile_number,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Telephone Number</label>
      <div class="controls">
        <%= f.text_field :telephone_number,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="input01">Biography</label>
      <div class="controls">
        <%= f.text_area :biography,:class=>"input" ,:rows => 6%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <!--<div class="control-group">-->
    <!--<div class="controls">-->
    <!--<label class="checkbox inline" >-->
    <%#= f.check_box :terms_of_service%>
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->

    <div class="form-actions">
      <%= f.submit :class =>"btn btn-primary"  %>
      <a class="btn" href="/">Cancel</a>
      <!--<input type="text" class="input-xlarge" id="input01">-->
    </div>
    <!--<div></div>-->



<% end %>
<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){
            var profile_title = new LiveValidation('profile_title',{validMessage:" ",onlyOnSubmit:true});
            profile_title.add( Validate.Presence );

            var profile_first_name = new LiveValidation("profile_first_name",{validMessage:" ",onlyOnSubmit:true});
            profile_first_name.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_last_name = new LiveValidation("profile_last_name",{validMessage:" ",onlyOnSubmit:true});
            profile_last_name.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_city = new LiveValidation("profile_city",{validMessage:" ",onlyOnSubmit:true});
            profile_city.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_state = new LiveValidation("profile_state",{validMessage:" ",onlyOnSubmit:true});
            profile_state.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_mobile_number = new LiveValidation("profile_mobile_number",{validMessage:" ",onlyOnSubmit:true});
            profile_mobile_number.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_biography = new LiveValidation("profile_biography",{validMessage:" ",onlyOnSubmit:true});
            profile_biography.add(Validate.Presence,{failureMessage:"Can't be empty"})
//            $('#dobd').datepicker({
//                changeMonth: true,
//                changeYear: true,
//                yearRange: 'c-100:c'
//
//
//            });
        });


    </script>
<% end %>