<h1>Listing ideas</h1>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Sub Title</th>
    <th>Introduction</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Affiliation Key</th>
    <th>Status</th>


  </tr>


<% @ideas.each do |idea| %>

  <tr>
    <td><%= idea.title %></td>
    <td><%= idea.sub_title %></td>
    <td><%= idea.introduction %></td>
    <td><%= idea.amount %></td>
    <td><%= idea.currency %></td>
    <td><%= idea.affiliation_key %></td>
    <td><%= idea.type %></td>
    <!--<td><%= image_tag idea.big_image_url %></td>-->
  <td> <%= link_to 'Show', idea_path(idea) %>
    <%= link_to 'Edit', edit_idea_path(idea) %>
    <%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', root_path %>
