<p id="notice"><%= notice %></p>


  </tr>


  <% idea = @idea%>

<strong> Title: </strong>  <%= idea.title %>   <br>
<strong> Sub Title</strong>    <%= idea.sub_title %>                <br>

<strong> Introduction </strong>   <%= idea.introduction %>         <br>
<strong> Amount </strong>  <%= idea.amount %>   <br>
<strong> Currency </strong>   <%= idea.currency %><br>
<strong> Affiliation Key </strong>  <%= idea.affiliation_key %>   <br>
<strong> Type </strong>    <%= idea.type %> <br>
<strong> Big Image </strong>   <%= image_tag idea.big_image_url %> <br>
<strong> Small Image </strong>  <%= image_tag idea.small_image_url %>  <br>



<br />

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', :back %>
