<h1>Listing Good ideas</h1>

<table border="1" class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Sub Title</th>
    <th>Introduction</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Affiliation Key</th>
    <th>Status</th>


  </tr>
  <thead>

  <% @ideas.each do |idea| %>

      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.sub_title %></td>
        <td><%= idea.introduction %></td>
        <td><%= idea.amount %></td>
        <td><%= idea.currency %></td>
        <td><%= idea.affiliation_key %></td>
        <td><%= idea.type %></td>
        <!--<td><%= image_tag idea.big_image_url %></td>-->
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Back', root_path %>
