

<table border="1" class="table">
  <thead> <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Ownership Actions</th>
    <th>Group Visibility</th>
    <th>Projects Visibility</th>
    <th>Action</th>
  </tr>
  </thead>

  <% @business_groups.each do |bg| %>

      <tr>
        <td><%= bg.user.email %></td>
        <td><%= bg.bg_name %></td>
        <td><%= link_to "Change Owner" ,select_worker_change_owner_business_group_path(bg)  %> </td>
        <%group_status =bg.bg_visibility
          if group_status == "Private"
            group_display = "Public"
            else
              group_display = "Private"
           end
        %>
        <td><%= link_to group_display ,reset_group_visibility_business_group_path(bg)%>   </td>
        <%project_status =bg.project_visibility
          if project_status == "Private"
            project_display = "Public"
          else
            project_display = "Private"
          end
        %>
        <td><%= link_to project_display ,reset_projects_visibility_business_group_path(bg)%>   </td>
        <td><%= link_to "Edit" ,bg_general_setting_business_group_path(bg)%>   </td>
      </tr>
  <% end %>

</table>
<%= will_paginate @business_groups %>
<%= link_to "new group" ,new_business_group_business_groups_path, :class => "btn"%>