<h2> Admin Group</h2>
<div class="form-horizontal">
  <table border="1" style="text-align: left;">

  <!--<strong> Title: </strong>   <%#= profile.title %>           -->


    <tr><td> <strong> AG Creation Date: </strong>  </td> <td> <%=  @admin_group.ag_creation_date %>     </td>  </tr>
    <tr><td> <strong> AG Expiration Date: </strong> </td>   <td><%=  @admin_group.ag_expiration_date %>         </td> </tr>
    <tr> <td><strong> AG Deactivation Date: </strong> </td>  <td> <%=  @admin_group.ag_deactivation_date %>     </td>   </tr>
    <tr> <td><strong> Admin Group Name: </strong> </td>   <td><%=  @admin_group.name %>       </td>      </tr>
    <tr><td> <strong> Admin Group Description: </strong> </td>  <td> <%=  @admin_group.description %>     </td>  </tr>
    <tr><td> <strong> Admin Group Email: </strong></td>   <td> <%=  @admin_group.ag_email %>     </td> </tr>
    <tr><td>  <strong> Status: </strong> </td> <td>  <%=  @admin_group.status %>          </td> </tr>
    <tr> <td><strong> AG Country: </strong></td>  <td>  <%=  @admin_group.country %>    </td></tr>
    <tr> <td><strong> AG Creation Date: </strong> </td>  <td> <%=  @admin_group.ag_creation_date %>   </td> </tr>
    <tr><td> <strong> Language: </strong> </td> <td>  <%=  @admin_group.language %>          </td>  </tr>
    <tr><td> <strong> First Name: </strong> </td> <td>  <%=  @profile.first_name %>   </td> </tr>

    <tr> <td><strong> Last Name: </strong></td>  <td>  <%=  @profile.last_name %>        </td>  </tr>
    <tr><td><strong> Company Name: </strong></td>  <td>  <%=  @admin_group.company_name %>     </td> </tr>
    <tr><td><strong> Country: </strong>  </td> <td> <%=  @admin_group.country %>       </td>  </tr>
    <tr><td><strong> City: </strong> </td>  <td> <%=  @admin_group.city %>           </td> </tr>
    <tr><td><strong> State: </strong></td> <td>   <%=  @admin_group.state %>    </td>     </tr>
    <tr><td><strong> Zip Code: </strong></td> <td>   <%=  @admin_group.zip_code %>      </td>  </tr>
    <tr><td><strong> Address: </strong>   </td> <td><%=  @admin_group.address %>        </td>   </tr>
    <tr><td><strong> Additional Address: </strong></td>  <td>  <%=  @admin_group.additional_address %>    </td></tr>
    <tr><td><strong> phone_number: </strong>  </td> <td> <%=  @admin_group.phone_number %>            </td></tr>

    <tr><td><strong> Self Management: </strong> </td> <td>  <%=  @admin_group.self_management %>     </td>  </tr>
    <tr><td><strong> Arena Flag: </strong>  </td> <td> <%=  @admin_group.arena_flag %>        </td> </tr>
    <tr><td><strong> BG Contest Allowed: </strong></td>   <td> <%=  @admin_group.bg_contest_allowed %>      </td></tr>
    <tr><td><strong> AG Commissions: </strong>   </td> <td><%=  @admin_group.ag_commissions %>      </td>  </tr>
    <tr><td><strong> BG Free Standard Commissions Allowed: </strong> </td>  <td> <%=  @admin_group.bg_free_standard_commissions_allowed %>   </td>  </tr>
    <tr><td><strong> BG  Free Pro Commissions_allowed: </strong>  </td> <td> <%=  @admin_group.bg_free_pro_commissions_allowed %>     </td>  </tr>

    <tr><td><strong> BG Free Private Commissions_allowed: </strong>   </td> <td><%=  @admin_group.bg_free_private_commissions_allowed %>    </td></tr>


    <tr><td><strong> Free Subscription: </strong> </td> <td>  <%=  @admin_group.free_subscription %>   </td></tr>
    <tr><td><strong> Free PaaS Expiration Date:</strong> </td> <td>   <%=  @admin_group.free_paas_expiration_date %>    </tr>


</table>

</div>
<%= link_to 'Back', :back %>