<h1>Listing ideas</h1>
<table border="1" class="table">
  <thead> <tr>
    <th>Sr.no</th>
    <th>Title</th>
    <th>Affiliation Key</th>
    <th>User Country</th>
    <th>Status</th>

    <th>Action</th>
    <th>Make It Good</th>
    <th>Reject</th>
  </tr>
  </thead>

  <% @ideas.each_with_index do |idea,index| %>

      <tr>
        <td><%= index+1 %></td>
        <td><%= idea.title %></td>
        <td><%= idea.affiliation_key %></td>
        <td><%= idea.user.country %></td>
        <td><%= idea.type %></td>
        <!--<td><%= image_tag idea.big_image_url %></td>-->

        <td> <%= link_to 'Show', idea_path(idea) %>


            | <%= link_to 'Edit', edit_idea_path(idea) %>


             | <%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %></td>
        <td><%= link_to 'Make it good',make_it_good_idea_path(idea) if idea.type !="GoodIdea" %>
          <%= "Already Good" if idea.type =="GoodIdea" %>
        </td>

        <td><%= link_to 'Make it Reject',reject_idea_path(idea) if idea.type !="RejectedIdea" %>
          <%= "Already Rejected" if idea.type =="RejectedIdea" %>

        </td>
      </tr>
  <% end %>

</table>

<br />

<%= link_to 'Back', root_path %>
