<h1>Listing ideas</h1>
<table border="1" class="table">
  <thead> <tr>
    <th>Title</th>
    <th>Sub Title</th>
    <th>Introduction</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Affiliation Key</th>
    <th>Status</th>

    <th>Action</th>
    <th>Make It Good</th>
  </tr>
  </thead>

  <% @ideas.each do |idea| %>

      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.sub_title %></td>
        <td><%= idea.introduction %></td>
        <td><%= idea.amount %></td>
        <td><%= idea.currency %></td>
        <td><%= idea.affiliation_key %></td>
        <td><%= idea.type %></td>
        <!--<td><%= image_tag idea.big_image_url %></td>-->

        <td> <%= link_to 'Show', idea_path(idea) %>

          <% if can? :update, @idea %>
              <%= link_to 'Edit', edit_idea_path(idea) %>
          <%end%>
          <% if can? :delete, @idea %>
              <%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %><%end%></td>
        <td><%= link_to 'Make it good',make_it_good_idea_path(idea) if idea.type !="GoodIdea" %>
          <%= "Already Good" if idea.type =="GoodIdea" %>
        </td>
      </tr>
  <% end %>

</table>

<br />

<%= link_to 'Back', root_path %>
