<h1>Listing Projects</h1>

<table border="1" class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Sub Title</th>
    <th>Introduction</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Affiliation Key</th>
    <th>Status</th>
    <th>Action</th>

  </tr>
  <thead>

  <% @projects.each do |project| %>

      <tr>
        <td><%= project.title %></td>
        <td><%= project.sub_title %></td>
        <td><%= project.introduction %></td>
        <td><%= project.amount %></td>
        <td><%= project.currency %></td>
        <td><%= project.affiliation_key %></td>
        <td><%= project.type %></td>
        <!--<td><%= image_tag project.big_image_url %></td>-->
        <td> <%= link_to 'Show', idea_path(project) %>

          <%= link_to 'Edit', edit_idea_path(project) %>
          <%= link_to 'Change Status', change_idea_status_by_mla_path(project), confirm: 'Are you sure?', method: :get %></td>
      </tr>
  <% end %>
  </table>

<br />

<%= link_to 'Back', root_path %>