<h1>Listing Good ideas</h1>

<table border="1" class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Sub Title</th>
    <th>Introduction</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Affiliation Key</th>
    <th>Status</th>

    <th>Action</th>
  </tr>
  <thead>

  <% @good_ideas.each do |good_idea| %>

      <tr>
        <td><%= good_idea.title %></td>
        <td><%= good_idea.sub_title %></td>
        <td><%= good_idea.introduction %></td>
        <td><%= good_idea.amount %></td>
        <td><%= good_idea.currency %></td>
        <td><%= good_idea.affiliation_key %></td>
        <td><%= good_idea.type %></td>
        <!--<td><%= image_tag good_idea.big_image_url %></td>-->
      <td> <%= link_to 'Show', idea_path(good_idea) %>

        <%= link_to 'Edit', edit_idea_path(good_idea) %>
        <%= link_to 'Change Status', change_idea_status_by_mla_path(good_idea), confirm: 'Are you sure?', method: :get %></td>
      </tr>
  <% end %>
  </table>

<br />

<%= link_to 'Back', root_path %>