<%=render :partial => "/shared/side_menus_for_bg_create_edit"%>
<h1>Publication Options</h1>
<%=form_for @business_group , :url => update_bg_publication_settings_business_group_path(@business_group) , :html => { :class => "form-horizontal",:multipart => true} do |f| %>



    <% if @business_group.errors.any?  %>
        <div id="error_explanation">
          <h2><%= pluralize(@business_group.errors.count  , "error") %> prohibited this Admin Group from being saved:</h2>

          <ul>
            <% @business_group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="input01">Business Group Main Website: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :bg_url,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Show the group on Platform's group list and search results: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.check_box( :bg_visibility, { :class => 'eula_check' }, "Public", "Private")%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Set all incoming projects as private: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.check_box( :project_visibility, { :class => 'eula_check' },  "Private","Public")%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Affiliation Key: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :affiliation_key,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Show submit Idea button on Group Page: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.check_box( :show_button_to_submit_idea, { :class => 'eula_check' }, true , false)%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Publish BG: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.check_box( :publish_status, { :class => 'eula_check' }, "Published" , "Unpublished")%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Save",:class =>"btn btn-primary"  %>
      <!--<a class="btn" href="/"></a>-->
      <!--<input type="text" class="input-xlarge"  id="input01">-->
    </div>

<%end%>


<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){





//            var email = new LiveValidation('user_email',{validMessage:" ",onlyOnSubmit:true});
//            email.add( Validate.Email);
//            email.add(Validate.Presence)

            var group_url = new LiveValidation('business_group_bg_url',{validMessage:" ",onlyOnSubmit:true});

            group_url.add(Validate.Presence)

            var business_group_affiliation_key = new LiveValidation('business_group_affiliation_key',{validMessage:" ",onlyOnSubmit:true});

            business_group_affiliation_key.add(Validate.Presence)




        });
    </script>
<% end %>
