
<h1>Edit My Affiliation Key</h1>
<%=form_for @business_group , :url => update_ak_business_group_path(@business_group) , :html => { :class => "form-horizontal",:multipart => true} do |f| %>



    <% if @business_group.errors.any?  %>
        <div id="error_explanation">
          <h2><%= pluralize(@business_group.errors.count  , "error") %> prohibited this Admin Group from being saved:</h2>

          <ul>
            <% @business_group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="input01">Affiliation Key: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :affiliation_key,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Save",:class =>"btn btn-primary"  %>
      <a class="btn" href="/">Cancel</a>
      <!--<input type="text" class="input-xlarge"  id="input01">-->
    </div>

<%end%>


<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){


            var cat = new LiveValidation('business_group_category',{validMessage:" ",onlyOnSubmit:true});
            cat.add(Validate.Presence)


//            var email = new LiveValidation('user_email',{validMessage:" ",onlyOnSubmit:true});
//            email.add( Validate.Email);
//            email.add(Validate.Presence)

            var group_name = new LiveValidation('business_group_bg_name',{validMessage:" ",onlyOnSubmit:true});

            group_name.add(Validate.Presence)

            var group_email = new LiveValidation('business_group_bg_email',{validMessage:" ",onlyOnSubmit:true});

            group_email.add(Validate.Presence)
            group_email.add( Validate.Email);

            var country = new LiveValidation("business_group_bg_country",{validMessage:" ",onlyOnSubmit:true});
            country.add( Validate.Presence);

            var language = new LiveValidation("business_group_bg_language",{validMessage:" ",onlyOnSubmit:true});
            language.add( Validate.Presence);


        });
    </script>
<% end %>
