
<h1>BG General Settings</h1>
<%=form_for @business_group  , :html => { :class => "form-horizontal",:multipart => true} do |f| %>



    <% if @business_group.errors.any?  %>
        <div id="error_explanation">
          <h2><%= pluralize(@business_group.errors.count  , "error") %> prohibited this Admin Group from being saved:</h2>

          <ul>
            <% @business_group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="input01">Business Group Name: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :bg_name,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Category: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.select  :category ,options_for_select(["Art","Comics","Dance","Design","Fashion","Film & Video" ,"Food","Games","Music", "Photography","Publishing",  "Technology" ,"Theater"]),{ :prompt => 'Select a Product' },:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Category: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.select  :subcategory ,options_for_select(["Subcategory1", "subcategory2"]),:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Business Group Country: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.autocomplete_field :bg_country ,autocomplete_country_detail_name_business_groups_path ,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Business Group Language: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.autocomplete_field :bg_language ,autocomplete_language_name_business_groups_path ,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Business Group Email: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :bg_email ,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>





    <div class="form-actions">
      <%= f.submit "Create",:class =>"btn btn-primary"  %>
      <a class="btn" href="/">Cancel</a>
      <!--<input type="text" class="input-xlarge"  id="input01">-->
    </div>

<%end%>


<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){


            var cat = new LiveValidation('business_group_category',{validMessage:" ",onlyOnSubmit:true});
            cat.add(Validate.Presence)


//            var email = new LiveValidation('user_email',{validMessage:" ",onlyOnSubmit:true});
//            email.add( Validate.Email);
//            email.add(Validate.Presence)

            var group_name = new LiveValidation('business_group_bg_name',{validMessage:" ",onlyOnSubmit:true});

            group_name.add(Validate.Presence)

            var group_email = new LiveValidation('business_group_bg_email',{validMessage:" ",onlyOnSubmit:true});

            group_email.add(Validate.Presence)
            group_email.add( Validate.Email);

            var country = new LiveValidation("business_group_bg_country",{validMessage:" ",onlyOnSubmit:true});
            country.add( Validate.Presence);

            var language = new LiveValidation("business_group_bg_language",{validMessage:" ",onlyOnSubmit:true});
            language.add( Validate.Presence);


        });
    </script>
<% end %>
