<table border="1" class="table">
  <thead>
  <tr>
    <th><strong> Email <strong></th>
    <th><strong> First Name <strong></th>
    <th><strong> Last Name <strong></th>
    <th><strong> Country <strong></th>
    <!--<th><strong> User Role<strong></th>-->
    <th><strong> Action<strong></th>
  </tr>
  </thead>
  <% @users.each do |user| %>
      <%profile= user.profile.nil? ? Profile.new : user.profile%>
      <tr>
        <td><%= user.email %></td>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= user.country %></td>
        <!--<td> <%#= user.role %>     </td>-->
        <td> <%= link_to 'Show', show_user_path(user.id) %> |
          <%= link_to 'Edit',edit_user_path(user.id) %>  |
      </tr>

  <% end %>

</table>
<%= will_paginate @users %>
