
<table border="1" class="table">
  <thead>
  <tr>
    <th><strong> Email <strong></th>
    <th><strong> Ip Address <strong></th>
    <th><strong> Title <strong></th>
    <th><strong> First Name <strong></th>
    <th><strong> Last Name <strong></th>
    <th><strong> Country <strong></th>
    <!--<th><strong> User Role<strong></th>-->
    <th><strong> Action<strong></th>
  </tr>
  </thead>
  <% @users.each do |user| %>
      <%profile= user.profile.nil? ? Profile.new : user.profile%>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= profile.title %></td>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= fetch_county_name(user) %></td>
        <!--<td> <%#= user.role %>     </td>-->
        <td> <%= link_to 'Show', show_user_to_local_admin_path(user.id) %> |
            <%= link_to 'Edit',edit_user_info_from_la_path(user.id) %>  |
            <% link_url_tag = user.suspended ? "Activate" : "Dactivate"  %>
            <%= link_to link_url_tag,suspend_user_by_la_path(user.id), confirm: 'Are you sure?', method: :get %> |
          <% link_url_tag_account = user.canceled ? "ReOpen" : "Canceled"  %>
          <%= link_to link_url_tag_account,canceled_user_account_from_la_path(user.id), confirm: 'Are you sure?', method: :get %></td> </td>

      </tr>

  <% end %>
    </table>
