  <!--<li>-->
    <!--<a href="<%= all_admins_global_admins_path%>">Admin Management</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="<%= new_local_admin_local_admins_path %>">New LocalAdmin</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="<%= ideas_global_admins_path %>">Ideas</a>-->
  <!--</li>-->


  <li> <a href="#">Overview</a></li>
  <li>
    <a href="<%= edit_user_registration_path %>">Setting</a>
  </li>
  <li>
    <a href="<%= all_admins_global_admins_path %>">Local Admins Management</a>
  </li>
  <li>
    <a href="<%=main_admin_group_owners_path  %>">Main Admin Groups Management</a>
  </li>

  <!--<li>-->
    <!--<a href="#">Business Groups Management</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="#">Teams Management</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="#">Users Management</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="#">Projects Management</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="#">Pages Management</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="#">Statistics</a>-->
  <!--</li>-->

  <!--<li>-->
    <!--<a href="<%= ideas_global_admins_path  %>">Idea Management</a>-->
  <!--</li>-->
