  <!--<li>-->
    <!--<a href="<%= all_admins_global_admins_path%>">Admin Management</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="<%= new_local_admin_local_admins_path %>">New LocalAdmin</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a href="<%= ideas_global_admins_path %>">Ideas</a>-->
  <!--</li>-->


  <li> <a href="#">Overview</a></li>
  <%split_array = request.url.split("/") %>
  <% if split_array.include?("edit") or split_array.include?("edit_general_settings") %>
  <li class= "active">
   <%else%>
     <li>
     <%end%>
    <a href="<%= profile_setting_global_admins_path %>">Setting</a>
  </li>
  <% if split_array.include?("all_admins") or split_array.include?("new_local_admin") or split_array.include?("edit_local_admin") or split_array.include?("show_admin")%>
      <li class= "active">
  <%else%>
      <li>
  <%end%>
    <a href="<%= all_admins_global_admins_path %>">Local Admins <br>Management</a>
  </li>
  <% if split_array.include?("slave_admin_group_mgmt") or split_array.include?("edit_main_admin_group") or split_array.include?("main_admin_group_mgmt") %>
      <li class= "active">
  <%else%>
      <li>
  <%end%>
    <a href="<%#=slave_admin_group_mgmt_global_admins_path  %>">Admin Groups  <br>Management</a>
  </li>

  <li>
    <a href="#">Business Groups <br> Management</a>
  </li>
  <li>
    <a href="#">Teams <br> Management</a>
  </li>
  <li>
    <a href="<%= manage_users_users_path %>">Users <br> Management</a>
  </li>
  <% if split_array.include?("ideas")  %>
      <li class= "active">
  <%else%>
      <li>
  <%end%>
    <a href="<%= ideas_global_admins_path  %>">Projects  <br>Management</a>
  </li>
  <li>
    <a href="#">Pages  <br>Management</a>
  </li>
  <li>
    <a href="#">Statistics</a>
  </li>

  <!--<li>-->
    <!--<a href="<%= ideas_global_admins_path  %>">Idea Management</a>-->
  <!--</li>-->
