<!--<li>-->
<!--<a href="<%#= user_management_path %>">User Management</a>-->
<!--</li>-->

<!--<li>-->
  <!--<a href="<%#= listing_all_the_workers_local_admins_path %>">Admin Group Management</a>-->
<!--</li>-->

<!--<li>-->
  <!--<a href="<%#= listing_all_the_agos_local_admins_path %>">Listing AGOS </a>-->
<!--</li>-->
<!--<li>-->
  <!--<a href="<%#= all_users_globally_local_admins_path %>">upgrade users to worker</a>-->
<!--</li>-->

<%split_array = request.url.split("/") %>
<li> <a href="#">Overview</a></li>
<%split_array = request.url.split("/") %>
<% if split_array.include?("edit") or split_array.include?("my_settings") %>
    <li class= "active">
<%else%>
    <li>
<%end%>
<a href="<%= edit_user_registration_path %>">Setting</a>
</li>

<% if split_array.include?("manage_admin_group") or split_array.include?("change_ownership") or split_array.include?("add_new_slave_admin_group")%>
    <li class= "active">
<%else%>
    <li>
<%end%>
<a href="<%= manage_admin_group_local_admins_path  %>">Admin Group  <br>Management</a></li>

<li>
  <a href="#">Business Groups <br> Management</a>
</li>
<% if split_array.include?("teams_management") %>
    <li class= "active">
<%else%>
    <li>
<%end%>
  <a href="<%= teams_management_local_admins_path%>">Teams <br> Management</a>
</li>
<li>
  <a href="#">Users <br> Management</a>
</li>
<% if split_array.include?("ideas")  %>
    <li class= "active">
<%else%>
    <li>
<%end%>
<a href="<%= ideas_global_admins_path  %>">Projects  <br>Management</a>
</li>
<li>
  <a href="#">Pages  <br>Management</a>
</li>
<li>
  <a href="#">Statistics</a>
</li>

<!--<li>-->
<!--<a href="<%= ideas_global_admins_path  %>">Idea Management</a>-->
<!--</li>-->







<!--
<li>
  <a href="<%#= local_admins_ideas_belonging_to_country_users_path %>">All Ideas</a>
</li>
<li>
  <a href="<%#= local_admins_listing_good_ideas_path %>">All Good Ideas</a>
</li>
<li>
  <a href="<%#= local_admins_listing_projects_path %>">All Projects</a>
</li>-->