<div><ul>
  <h4>      <%= link_to 'Summary',"#", :confirm => 'Under development' %>   |

        <a href="">Team Management</a>  |



        <%= link_to 'Business Group Management',"#", :confirm => 'Under development' %>     |


        <%= link_to 'Projects Management',"#", :confirm => 'Under development' %>   |

        <%= link_to 'Consultant',"#", :confirm => 'Under development' %> |

    <%= link_to "Admin Group Settings" , edit_user_registration_path  %>

  </h4>
</ul>
</div>