<li>
	<a href="/"><%= current_user.profile.full_name rescue nil %></a>
</li>
<li>
<% if current_user.profile.present? %>
	<a href="<%= edit_profile_path(current_user.profile) %>">Edit Profile</a>
<%else %>
	<a href="<%= new_profile_path %>">Create Profile</a>
<% end %>

<li>
	<a href="<%= new_idea_path %>">Propose Idea</a>
</li>
<li>
	<a href="<%= ideas_path %>">My Ideas</a>
</li>
<li>
	<a href="<%= show_good_idea_ideas_path %>">My Good Ideas</a>
</li>
<!--<li>-->
	<!--<a href="<%#= my_own_project_ideas_path %>">My Own Projects</a>-->
<!--</li>-->
