<!--<div><ul>-->
  <!--<h4>      <%= link_to 'Summary',"#", :confirm => 'Under development' %>   |-->
    <!--<% if RolesManagement::RolesManager.is_role_present?("Admin Group Owner",current_user)%>-->
        <!--<a href="<%= user_admin_group_list_path %>">Admin Group List</a>  |-->

    <!--<%end%>-->
    <!--<% if RolesManagement::RolesManager.is_role_present?("Admin Group Worker",current_user)%>-->

        <%= link_to 'Worker',"#", :confirm => 'Under development' %>

    <!--<%end%>-->
    <!--<% if RolesManagement::RolesManager.is_role_present?("Business Group Owner",current_user)%>-->

        <%#= link_to 'BGO',"#", :confirm => 'Under development' %>

  <!--<%end%>-->
    <!--<% if RolesManagement::RolesManager.is_role_present?("Consultant Worker",current_user)%>-->
        <%= link_to 'Consultant',"#", :confirm => 'Under development' %> |


    <!--<%end%>-->

    <!--<% if current_user.profile.present? %>-->
        <!--<a href="<%= edit_profile_path(current_user.profile) %>">Edit Profile</a>   |-->
    <!--<%else %>-->
        <!--<a href="<%= new_profile_path %>">Create Profile</a>     |-->
    <!--<% end %>-->

    <!--<%= link_to "Settings" , edit_user_registration_path  %>-->
  <!--</h4>-->
<!--</ul>-->
<!--</div>-->