
<table border="1" class="table">
  <thead>
  <tr>
    <th><strong> Email <strong></th>
    <th><strong> Ip Address <strong></th>
    <th><strong> Title <strong></th>
    <th><strong> First Name <strong></th>
    <th><strong> Last Name <strong></th>
    <th><strong> Country <strong></th>
    <th><strong> User Role<strong></th>
    <th><strong> Action<strong></th>
  </tr>
  <thead>
  <% @AGOS.each do |ago| %>
      <%profile= ago.profile.nil? ? Profile.new : ago.profile%>
      <tr>
        <td><%= ago.email %></td>
        <td><%= ago.last_sign_in_ip %></td>
        <td><%= profile.title %></td>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= fatch_county_name(ago) %></td>
        <td> <%= ago.role %>     </td>
        <td>  <%= link_to "Change to MAGO",change_ago_to_mago_path(ago.id), confirm: 'Are you sure? you want to change the role to MAGO', method: :get %> </td>

      </tr>

  <% end %>
  </table>