<h2>Admin Group Details</h2>
<%= form_for :admin_group, :url => update_admin_group_admin_group_owner_path, :html => { :class => "form-horizontal"} do |admin_group| %>
    <div class="control-group">
      <label class="control-label" for="input01">Name</label>
      <div class="controls">
        <%=admin_group.text_field :name,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Description</label>
      <div class="controls">
        <%= admin_group.text_field :description,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>


    <%= fields_for :user, :html => { :class => "form-horizontal",:multipart => true} do |u| %>

        <div class="control-group">
          <label class="control-label" for="input01">Email</label>
          <%profile= profile.nil? ? Profile.new : profile%>
          <div class="controls">
            <%=u.text_field :email, :value =>@user.email,:class=>"input"%>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Owner</label>
          <div class="controls">
            <%= u.text_field :first_name, :value =>@user.profile.to_s,:class=>"input" %>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Owner</label>
          <div class="controls">
            <%= u.text_field :country, :value =>@user.country,:class=>"input" %>
            <!--<input type="text" class="input-xlarge" id="input01">-->
            <p class="help-block"></p>
          </div>
        </div>

    <% end %>
    <div class="form-actions">
      <%= admin_group.submit "Update Admin Group",:class =>"btn btn-primary"  %>
    </div>
<%end%>