<h1>keys</h1>

<table border="1" class="table">
  <thead>
  <tr>
    <th>Key</th>
    <th>belongs to type</th>
    <th>belongs to email</th>
  </tr>
  <thead>

  <% @all_related_keys.each do |key| %>

      <tr>
        <td><%= key.key %></td>
        <td> <%if key.admin_group_consultant_worker.present?%>
              <%="Concultant Worker" %>
              <%email=key.admin_group_consultant_worker.consultant_worker.user.email %>
          <% else %>
              <%= "Admin Group Owner" %>
              <%email=key.admin_group.user.email %>
          <%end%>
        </td>
        <td><%= email %></td>
      </tr>
  <% end %>
  </table>

<br />

<%= link_to 'Back', root_path %>