


<%= form_tag( persist_news_letter_homes_path , :method=>'post' , :class => "form-horizontal") do %>
    <%#= devise_error_messages! %>
    <fieldset>
      <%#= devise_error_messages! %>
      <legend><h2>Sign Up</h2></legend>
      <div class="control-group">
        <label class="control-label" for="input01">Email</label>
        <div class="controls">
          <%= text_field_tag "guest_user[email]" , "" ,:placeholder => "Email" %></div>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
      <div class="control-group">
        <label class="control-label" for="input01">Country</label>
        <div class="controls">
          <%= text_field_tag "guest_user[country]" , "" ,:placeholder => "Country"  %></div>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
      <div class="control-group">
        <label class="control-label" for="input01">Language</label>
        <div class="controls">
          <%= text_field_tag "guest_user[:language]" , "" ,:placeholder => "Language" %></div>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
      <div class="form-actions">
        <%= submit_tag "Subscribe",:class =>"btn btn-primary"  %>

        <a class="btn" href="/">Cancel</a>
        <!--<input type="text" class="input-xlarge" id="input01">-->
      </div>
      <!--<div></div>-->
    </fieldset>
<% end %>
<%#= render :partial => "devise/shared/links" %>


<script type="text/javascript">
    jQuery(function(){
        var email = new LiveValidation("guest_user_email",{validMessage:" ",onlyOnSubmit:true});
        email.add(Validate.Presence,{failureMessage:"Email cant be empty"});
        email.add(Validate.Email);
        var country = new LiveValidation("guest_user_country",{validMessage:" ",onlyOnSubmit:true});
        email.add(Validate.Presence,{failureMessage:"Can't be empty"});
        var country = new LiveValidation("guest_user_language",{validMessage:" ",onlyOnSubmit:true});
        email.add(Validate.Presence,{failureMessage:"Can't be empty"});
    });
</script>

