<section id="gridSystem">
  <!--<div class="page-header"></div>-->
  <div class="row show-grid">
    <div class="span4">
      <h1>Homes#news_letter</h1>
      <p>Find me in app/views/homes/news_letter.html.erb</p>

      <%= form_tag( send_news_letter_homes_path) do %>

          <%= label_tag :select_list %>
          <%= select_tag "lists" ,options_for_select(@lists_name)%>
          <div id="wait"></div>
          <div id="camp">
            <%= render :partial => 'get_campaigns' %>
          </div>

          <%= label_tag :template_name %>
          <%= text_field_tag :template_name %>

          <%= label_tag :template_content %>
          <%= text_area_tag :template_content %>

          <%= label_tag :subject %>
          <%= text_field_tag :subject %>

          <%= label_tag :from_email %>
          <%= text_field_tag :from_email %>

          <%= label_tag :from_name %>
          <%= text_field_tag :from_name %>

          <%= label_tag :to_name %>
          <%= text_field_tag :to_name %>

          <div><%= submit_tag "Subscribe"  %></div>
      <% end %>

      <%#= render :partial => "devise/shared/links" %>
    </div>

  </div>
  <script type="text/javascript">
      jQuery(function(){
          var lists = new LiveValidation("lists",{validMessage:" ",onlyOnSubmit:true});
          lists.add(Validate.Presence);
          var template_name = new LiveValidation("template_name",{validMessage:" ",onlyOnSubmit:true});
          template_name.add(Validate.Presence,{failureMessage:"Can't be empty"});
          var template_content = new LiveValidation("template_content",{validMessage:" ",onlyOnSubmit:true});
          template_content.add(Validate.Presence,{failureMessage:"Can't be empty"})
          var subject = new LiveValidation("subject",{validMessage:" ",onlyOnSubmit:true});
          subject.add(Validate.Presence,{failureMessage:"Can't be empty"})
          var from_email = new LiveValidation("from_email",{validMessage:" ",onlyOnSubmit:true});
          from_email.add(Validate.Presence,{failureMessage:"Can't be empty"})
          from_email.add(Validate.Email)
          var to_email = new LiveValidation("from_name",{validMessage:"",onlyOnSubmit:true});
          to_email.add(Validate.Presence,{failureMessage:"Can't be empty"})
          var to_name = new LiveValidation("to_name",{validMessage:" ",onlyOnSubmit:true});
          to_name.add(Validate.Presence,{failureMessage:"Can't be empty"})
      });
  </script>
</section>

