
<%=form_for @product  , :html => { :class => "form-horizontal"} do |f| %>

    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="input01">Platform Product Name: <span style="color:red">*</span></label>
      <div class="controls">
        <%=f.text_field :platform_product_name,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Type: <span style="color:red">*</span></label>
      <div class="controls">
        <%=f.select :product_type,options_for_select(["Slave", "Main"]),:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">BG Private Allowed:<span style="color:red"> </span>*</label>
      <div class="controls">
        <%= f.radio_button :bg_private, true,:class=>"input"%>  True   </div>
      <div class="controls"> <%=f.radio_button :bg_private, false,:class=>"input"%> false  </div>
      <!--<input type="text" class="input-xlarge" id="input01">-->
      <p class="help-block"></p>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">BG contest Type Allowed <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :bg_contest_number,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">BG Window Type Allowed: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :bg_window_number,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">No. of AG Allowed: <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :ag_workers_number,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Ag Custom Commissions:<span style="color:red">* </span></label>
      <div class="controls">
        <%= f.radio_button :ag_custom_commissions, true,:class=>"input"%>  True   </div>
      <div class="controls"> <%=f.radio_button :ag_custom_commissions, false,:class=>"input"%> false  </div>
      <!--<input type="text" class="input-xlarge" id="input01">-->
      <p class="help-block"></p>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">AG Recepient Settings<span style="color:red">* </span></label>
      <div class="controls">
        <%= f.radio_button :ag_recepient_settings, true,:class=>"input"%>  True   </div>
      <div class="controls"> <%=f.radio_button :ag_recepient_settings, false,:class=>"input"%> false  </div>
      <!--<input type="text" class="input-xlarge" id="input01">-->
      <p class="help-block"></p>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">AG Payment Gateway Commissions Payer Settings<span style="color:red">* </span></label>
      <div class="controls">
        <%= f.radio_button :ag_payment_gateway_commissions_payer_settings, true,:class=>"input"%>  True   </div>
      <div class="controls"> <%=f.radio_button :ag_payment_gateway_commissions_payer_settings, false,:class=>"input"%> false  </div>
      <!--<input type="text" class="input-xlarge" id="input01">-->
      <p class="help-block"></p>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Monthly Price <span style="color:red"> </span></label>
      <div class="controls">
        <%=f.text_field :product_monthly_price,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Annual Price <span style="color:red"> *</span></label>
      <div class="controls">
        <%=f.text_field :product_annual_price,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Create Local Admin",:class =>"btn btn-primary"  %>
      <a class="btn" href="/">Cancel</a>
      <!--<input type="text" class="input-xlarge"  id="input01">-->
    </div>
<% end %>

<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){

            var annual_price = new LiveValidation('product_product_annual_price',{validMessage:" ",onlyOnSubmit:true});
            annual_price.add( Validate.Presence );
            annual_price.add( Validate.Numericality, { onlyInteger: false } );
            var name = new LiveValidation('product_platform_product_name',{validMessage:" ",onlyOnSubmit:true});
            name.add( Validate.Presence );
            var price = new LiveValidation('product_product_monthly_price',{validMessage:" ",onlyOnSubmit:true});
            price.add( Validate.Numericality, { onlyInteger: false } );

            var bg_contest = new LiveValidation('product_bg_contest_number',{validMessage:" ",onlyOnSubmit:true});
            bg_contest.add( Validate.Numericality, { onlyInteger:true } );

            var bg_window = new LiveValidation('product_bg_window_number',{validMessage:" ",onlyOnSubmit:true});
            bg_window.add( Validate.Numericality, { onlyInteger: true } );

            var ag = new LiveValidation('product_ag_workers_number',{validMessage:" ",onlyOnSubmit:true});
            ag.add( Validate.Numericality, { onlyInteger: true } );
        });
    </script>
<% end %>