<%split_array = request.url.split("/") %>
<h4><div class="pull-right" style="margin-bottom: 15px;">


  <% if split_array.include?("slave_admin_group_mgmt") %>

      <%= link_to "Slave AG Mgmt" ,slave_admin_group_mgmt_global_admins_path,:style=>"text-decoration: underline;" %> |
  <%else%>
      <%= link_to "Slave AG Mgmt" ,slave_admin_group_mgmt_global_admins_path %>  |
  <%end%>

  <!--<#% if split_array.include?("change_ownership") %>-->

  <!--<#%= link_to "Main AG Mgmt" ,main_admin_group_owners_path,:style=>"text-decoration: underline;" %>-->
  <!--<%#else%>-->
  <!--<%#= link_to "Main AG Mgmt" ,main_admin_group_owners_path %>-->
  <!--<%#end%>-->
  <%= link_to 'Main AG Mgmt',"#", :confirm => 'Under development' %>
</h4>
<table border="1" class="table">

  <thead> <tr>
    <th>Sr. No</th>
    <th>Name Of Owner</th>
    <th>Email Of Owner</th>
    <th>Country</th>
    <!--<th>Type</th>-->
    <!--<th>Change to MLA</th>-->
    <th>Actions</th>
  </tr>
  </thead>

  <% @groups.each_with_index do |group,index| %>

      <tr>
        <td><%=index+1 %></td>
        <td><%=group.user.profile.to_s rescue nil%></td>
        <td><%=group.user.email %></td>
        <td><%= group.country %></td>
        <!--<td><%#=admin.role %></td>-->
        <!--<td>-->
        <!--
        <!--</td>-->
        <td> <%= link_to 'Show',"#",:confirm => "Under Development" %> |
          <%= link_to 'Edit',"#",:confirm => "Under Development"  %> |

          <%# link_url_tag_account = admin.canceled ? "ReOpen" : "Cancel"  %>
          <%#= link_to link_url_tag_account,canceled_user_account_path(admin.id) %>
          <%= link_to "Delete","#",:confirm => "Under Development"  %> |
        <%= link_to "Deactivate","#",:confirm => "Under Development"  %> </td>
      </tr>
  <% end %>

</table>
