<%= user.fields_for :profile, :html => { :class => "form-horizontal",:multipart => true} do |f| %>

    <div class="control-group">
      <label class="control-label" for="input01">Profile Title</label>
      <%profile= profile.nil? ? Profile.new : profile%>
      <div class="controls">
        <%=f.text_field :title, :value =>profile.title,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">First Name</label>
      <div class="controls">
        <%= f.text_field :first_name, :value =>profile.first_name,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Last Name</label>
      <div class="controls">
        <%= f.text_field :last_name, :value =>profile.last_name,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Image</label>
      <div class="controls">
        <%=f.file_field :image, :value =>profile.image_url,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Video</label>
      <div class="controls">
        <%=f.file_field :video,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Blog</label>
      <div class="controls">
        <%=f.text_field :blog, :value =>profile.blog,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>



    <div class="control-group">
      <label class="control-label" for="input01">web</label>
      <div class="controls">
        <%=f.text_field :web, :value =>profile.web,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Facebook link</label>
      <div class="controls">
        <%=f.text_field :social_fb, :value =>profile.social_fb,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Twitter</label>
      <div class="controls">
        <%=f.text_field :social_twitter, :value =>profile.social_twitter,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Linkedin</label>
      <div class="controls">
        <%=f.text_field :social_linkedin, :value =>profile.social_linkedin,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Myspace</label>
      <div class="controls">
        <%=f.text_field :social_myspace, :value =>profile.social_myspace,:class=>"input"%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="input01">Birth Date (MM/DD/YYYY)</label>
      <div class="controls">
        <%= f.datepicker 'birth_date', :value =>profile.birth_date %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Gender</label>
      <div class="controls">
        <%= f.select :gender ,options_for_select([['Male'],['Female']]), :value =>profile.gender %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="input01">Street</label>
      <div class="controls">
        <%= f.text_field :street, :value =>profile.street,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Street Number</label>
      <div class="controls">
        <%= f.text_field :street_number, :value =>profile.street_number,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">City</label>
      <div class="controls">
        <%= f.text_field :city, :value =>profile.city,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Zip Code</label>
      <div class="controls">
        <%= f.text_field :zip_code, :value =>profile.zip_code,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">State</label>
      <div class="controls">
        <%= f.text_field :state, :value =>profile.state,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Additional Address Info</label>
      <div class="controls">
        <%= f.text_field :additional_address_info, :value =>profile.additional_address_info,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Mobile Number</label>
      <div class="controls">
        <%= f.text_field :mobile_number, :value =>profile.mobile_number,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Telephone Number</label>
      <div class="controls">
        <%= f.text_field :telephone_number, :value =>profile.telephone_number,:class=>"input" %>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Biography</label>
      <div class="controls">
        <%= f.text_area :biography, :value =>profile.biography,:class=>"input" ,:rows => 6%>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
    </div>






<% end %>
<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){
            var profile_title = new LiveValidation('user_profile_title',{validMessage:" ",onlyOnSubmit:true});
            profile_title.add( Validate.Presence,{failureMessage:"Can't be empty"} );

            var profile_first_name = new LiveValidation("user_profile_first_name",{validMessage:" ",onlyOnSubmit:true});
            profile_first_name.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_last_name = new LiveValidation("user_profile_last_name",{validMessage:" ",onlyOnSubmit:true});
            profile_last_name.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_city = new LiveValidation("user_profile_city",{validMessage:" ",onlyOnSubmit:true});
            profile_city.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_state = new LiveValidation("user_profile_state",{validMessage:" ",onlyOnSubmit:true});
            profile_state.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_mobile_number = new LiveValidation("user_profile_mobile_number",{validMessage:" ",onlyOnSubmit:true});
            profile_mobile_number.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_biography = new LiveValidation("user_profile_biography",{validMessage:" ",onlyOnSubmit:true});
            profile_biography.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_birth_date = new LiveValidation("user_profile_birth_date",{validMessage:" ",onlyOnSubmit:true});
            profile_birth_date.add(Validate.Presence,{failureMessage:"Can't be empty"})
            var profile_telephone_number = new LiveValidation("user_profile_telephone_number",{validMessage:" ",onlyOnSubmit:true});
            profile_telephone_number.add(Validate.Presence,{failureMessage:"Can't be empty"})
            profile_telephone_number.add(Validate.Numericality,{failureMessage:" Must be a number"})
            $('#dob2').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: 'c-100:c'


            });
        });
    </script>
<% end %>