<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "CrowdFunding" %></title>
  <%= csrf_meta_tags %>


  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "autocomplete-rails.js"%>
  <%= yield :head %>
  <link href="images/favicon.ico" rel="shortcut icon">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
</head>
<body style="padding-top: 50px">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">CrowdFunding</a>
      <% if !current_user.blank?  %>
          <% if RolesManagement::RolesManager.is_role_present?("Global Admin", current_user)&& request.url.index(ADMIN_HOST).present? %>
              <li class="brand"> <%= "Global Admin" %>   </li>
          <% end %>
          <% if RolesManagement::RolesManager.is_role_present?("Local Admin", current_user)&& request.url.index(ADMIN_HOST).present? %>
              <li class="brand"> <%= "Local Admin" %>   </li>
          <% end %>
          <% if RolesManagement::RolesManager.is_role_present?("User", current_user) %>
              <li  class="brand">
                <%split_array = request.url.split("/") %>
               <%= split_array.include?("admin_group_owners")? "SAGO" : "User" %>
              </li>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="container nav-collapse">
          <ul class="nav">


            <% if user_signed_in? %>
                <% if !current_user.blank?  %>
                    <% if RolesManagement::RolesManager.is_role_present?("Global Admin", current_user)&& request.url.index(ADMIN_HOST).present? %>
                        <!--<li class="brand"> <%= "Global Admin" %>   </li>-->
                        <%= render :partial => 'shared/global_admin_layout'%>
                    <% end %>
                    <% if RolesManagement::RolesManager.is_role_present?("Main Local Admin", current_user) && request.url.index(ADMIN_HOST).present? %>
                        <li class="brand"> <%= "Main Local Admin" %>   </li>
                        <%= render :partial => 'shared/main_local_admin_layout'%>
                    <% end %>
                    <% if RolesManagement::RolesManager.is_role_present?("Local Admin", current_user) && request.url.index(ADMIN_HOST).present?%>
                        <!--<li class="brand"> <%= "Local Admin" %>   </li>-->
                        <%= render :partial => 'shared/local_admin_layout'%>
                    <% end %>
                    <% if RolesManagement::RolesManager.is_role_present?("User", current_user)   %>

                        <%= render :partial => 'shared/user_layout' %>
                    <% end %>
                    <% if RolesManagement::RolesManager.is_role_present?("Worker", current_user) && request.url.index(ADMIN_HOST).present? %>
                        <%= render :partial => 'shared/worker_layout' %>
                    <% end %>

                <%end  %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="span9" style="margin-top: 0;">
        <div id="user_nav">
          <% [:notice, :error, :alert].each do |level| %>
              <% unless flash[level].blank? %>
                  <div class="<%= flash_class(level) %> fade in">
                    <a href="#" data-dismiss="alert" class="close">×</a>
                    <%= content_tag :p, flash[level] %>
                  </div>
              <% end %>
          <% end %>
        </div>

        <%= yield %>
      </div>
      <div class="span3">
        <%= render partial: 'shared/side_bar' %>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/content-->

  <footer>
    <%= debug(params) if Rails.env.development? %>
    <p>&copy; Company 2012</p>
  </footer>

</div> <!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


</body>
</html>
